@CHARSET "UTF-8";

p {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
	border: none;
	padding: 2px;
}

h1, h2, h3, .titleText1, .titleText2, .titleText3 {
	color: black;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	vertical-align: middle;
}

h1, .titleText1 {
	font-size: x-large;
}

h2, .titleText2 {
	font-size: large;
}

h3, .titleText3 {
	font-size: medium;
}

.normalText, .smallText, .footerText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
}

.normalText {
	font-size: medium;
}

.smallText {
	font-size: small;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10%;
	table-layout: inherit;
}

.headerTitle {
	margin: 0;
	padding: 0;
 	width: 80%;
	height: 5%;
}

.bar {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 5%;
}

.menuButton {
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	vertical-align: middle;
}

.currentTitle {
	margin: 0;
	padding: 0;
	width: 95%;
	height: 5%;
}

.contentPane {
	margin: 0;
	padding: 0;
	width: 100%;
	vertical-align: middle;
	height: 80%;
}

.footerText {
	color: white;
	font-size: small;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 8px;
}

.footer {
	margin: 0;
	padding: 0;
	background: gray;
	width: 100%;
	height: 5%;
	text-align: center;
	vertical-align: middle;
}

.toTheRight {
	float: right;
}

.toTheLeft {
	float: left;
}

.loginTable {
	vertical-align: middle;
	position: relative;
	top: 50px;
}

.loginTable td {
	padding: 5px;
}

.loginLabel {
	text-align: right;
	font-size: medium;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.loginButton {
	font-size: medium;
}

.smallButton, .mediumButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	box-shadow: inset 0px 1px 0px 0px #dcecfb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bed2fa
		), color-stop(1, #7daccc));
	background: -moz-linear-gradient(top, #bed2fa 5%, #7daccc 100%);
	background: -webkit-linear-gradient(top, #bed2fa 5%, #7daccc 100%);
	background: -o-linear-gradient(top, #bed2fa 5%, #7daccc 100%);
	background: -ms-linear-gradient(top, #bed2fa 5%, #7daccc 100%);
	background: linear-gradient(to bottom, #bed2fa 5%, #7daccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bed2fa',
		endColorstr='#7daccc', GradientType=0);
	background-color: #bed2fa;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #bed2fa;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: medium;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px 4px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #7daccc;
}

.smallButton:hover, .mediumButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7daccc
		), color-stop(1, #bed2fa));
	background: -moz-linear-gradient(top, #7daccc 5%, #bed2fa 100%);
	background: -webkit-linear-gradient(top, #7daccc 5%, #bed2fa 100%);
	background: -o-linear-gradient(top, #7daccc 5%, #bed2fa 100%);
	background: -ms-linear-gradient(top, #7daccc 5%, #bed2fa 100%);
	background: linear-gradient(to bottom, #7daccc 5%, #bed2fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7daccc',
		endColorstr='#bed2fa', GradientType=0);
	background-color: #7daccc;
}

.smallButton:active, .mediumButton:active {
	position: relative;
	top: 1px;
}

.smallButton {
	width: 100px;
	height: 30px;
}

.mediumButton {
	width: 200px;
	height: 30px;
}