@CHARSET "UTF-8";

.table td {
	border-top: 0px !important;
}

.table-control {
	vertical-align: top !important;
	border-top: 0px !important;
	margin-bottom: 0px !important;
}

.td-left-control, .td-center-control, .td-right-control {
	vertical-align: top !important;
	border-top: 0px !important;
	padding: 0px !important;
}

.td-left-control {
	padding-right: 4px !important;
	padding-left: 0px !important;
}

.td-center-control {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.td-right-control {
	padding-right: 0px !important;
	padding-left: 4px !important;
}

html, body {
	height: 100%;
}

body {
	display: table;
	width: 100%;
}

.page-row {
	display: table-row;
	height: 1px;
}

.page-row-expanded {
	height: 100%;
}

.panel-error {
	max-width: 550px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 4%;
}

.notification {
	position: fixed;
	top: 20%;
	right: 2%;
	min-width: 300px;
	width: 30%;
	z-index: 9999;
}

.main-panel {
	width: 98% !important;
	margin: 1% !important;
}

.btn-footer {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.btn-panel {
	background-repeat: no-repeat;
	background-position: center;
	height: 130px;
	width: 130px;
    cursor: pointer;
    border: none;
    background-size: 100px 100px;
}

.btn-panel-profile {
	background-image: url(/sc-caeb2/images/profile.png);
}

.btn-panel-newPoll {
	background-image: url(/sc-caeb2/images/newPoll.png);
}

.btn-panel-search {
	background-image: url(/sc-caeb2/images/search.png);
}

.btn-panel-exit {
	background-image: url(/sc-caeb2/images/exit.png);
}

.btn-panel-genFormality {
	background-image: url(/sc-caeb2/images/genFormality.png);
}

.btn-panel-home {
	background-image: url(/sc-caeb2/images/home.png);
}

.btn-panel-backup {
	background-image: url(/sc-caeb2/images/backup.png);
}
